// Copyright 2007-2009 Google Inc.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//      http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
// ========================================================================

#include <afxres.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VERSION_MAJOR,VERSION_MINOR,VERSION_BUILD,VERSION_PATCH
 PRODUCTVERSION VERSION_MAJOR,VERSION_MINOR,VERSION_BUILD,VERSION_PATCH
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x0L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "[GRITVERLANGCHARSETHEX]"
        BEGIN
            VALUE "CompanyName", "Google Inc."
            VALUE "FileDescription", "Google Installer"
            VALUE "FileVersion", VERSION_NUMBER_STRING
            VALUE "InternalName", "Google Update"
            VALUE "LegalCopyright", "Copyright 2007-2009 Google Inc."
            VALUE "OriginalFilename", "GoogleUpdate.exe"
            VALUE "ProductName", "Google Update"
            VALUE "ProductVersion", VERSION_NUMBER_STRING
#ifdef _DEBUG
            VALUE "Debug", ""
#endif
#if !OFFICIAL_BUILD
            VALUE "Privatebuild", ""
#endif
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation",  [GRITVERLANGID], [GRITVERCHARSETID]
    END
END
