// Copyright 2009 Google Inc.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//      http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
// ========================================================================

// These include headers with absolute paths, which Resource Editor cannot load.
#ifndef APSTUDIO_INVOKED
#include "omaha/base/const_config.h"
#include "omaha/plugins/update/config.h"
#include "omaha/plugins/update/resource.h"
#endif  // APSTUDIO_INVOKED

#define PLUGIN_FILENAME UPDATE_PLUGIN_FILENAME
#include "../plugin_version.rc"

// Path is in the obj directory, which Resource Editor does not look in.
#ifndef APSTUDIO_INVOKED
1 TYPELIB "plugins/update/activex/update_control_idl.tlb"
#endif  // APSTUDIO_INVOKED

IDR_ONECLICK_RGS               REGISTRY "oneclick.rgs"

