// Copyright 2007-2010 Google Inc.
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//      http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
// ========================================================================

// TODO(omaha3): Figure out what category of resources this file includes and
// rename it and non_localized_resource.h. Is it DLL resources?

#include <winres.h>
#include "omaha/goopdate/non_localized_resource.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_DEFAULT
IDI_ELEVATION_MONIKER_ICON        ICON "omaha/google_update/google_update.ico"

IDR_LOCAL_SERVER_RGS              REGISTRY "omaha/base/generic_reg_file_local_server.rgs"
IDR_LOCAL_SERVER_ELEVATION_RGS    REGISTRY "omaha/base/generic_reg_file_elevation_localserver.rgs"
IDR_LOCAL_SERVER_IE_LOW_RGS       REGISTRY "omaha/base/generic_reg_file_ie_low_local_server.rgs"
IDR_LOCAL_SERVICE_RGS             REGISTRY "omaha/base/generic_reg_file_localservice.rgs"

IDR_GOOGLE_UPDATE3_SERVICE_APPID  REGISTRY "omaha/base/generic_reg_file_appid.rgs"

1 TYPELIB "goopdate\\omaha3_idl.tlb"

